// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

// .big-icon {
//     font-size: 1rem;
// }

.fa-2x {
    font-size: 1.5em;
}

// .wg-about .avatar {
//     width: 220px;
//     height: 268px;
//     border-radius: 0%;
// }

// .navbar-brand img {
//     width: auto;
//     height: -webkit-fill-available;
//     max-height: 35px;
//     max-width: fit-content;
// }

// .universal-wrapper h1 {
//     text-align: left;
// }

// justify the publication-search form to the right
.form-row {
    margin-right: auto;
    margin-left: auto;
    justify-content: right;
}

//// fit the group gallery images
// .gallery-item img {
    //width: auto;
    //height: 100%;
// }

// fit the group gallery images
.gallery-grid {
    grid-auto-rows: 215px;
}

// // Change symbol for author notes (to, e.g., fa-star)
// .author-notes::before {
//   content: "\f005"; /* Use any Unicode character or icon you prefer */
//   /* Other styles */
// }


// Tables used by Seminar
$table-border: 1px solid #7b7b7b;
$table-padding: 8px;
$table-bg-header: #f2f2f2;
$table-bg-even: #f9f9f9;
$table-bg-hover: #ddd;

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;

  th,
  td {
    border: $table-border;
    padding: $table-padding;
    text-align: left;
  }

  th:nth-child(1), 
  td:nth-child(1) {
    width: 12%;
  }

  th:nth-child(3), 
  td:nth-child(3) {
    width: 15%;
  }

  th:nth-child(4), 
  td:nth-child(4) {
    width: 10%;
  }

  tr:hover {
    background-color: $table-bg-hover;
  }
}