// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

// .big-icon {
//     font-size: 1rem;
// }

.fa-2x {
    font-size: 1.5em;
}

// .wg-about .avatar {
//     width: 220px;
//     height: 268px;
//     border-radius: 0%;
// }

// .navbar-brand img {
//     width: auto;
//     height: -webkit-fill-available;
//     max-height: 35px;
//     max-width: fit-content;
// }

// .universal-wrapper h1 {
//     text-align: left;
// }

// justify the publication-search form to the right
.form-row {
    margin-right: auto;
    margin-left: auto;
    justify-content: right;
}

//// fit the group gallery images
// .gallery-item img {
    //width: auto;
    //height: 100%;
// }

// fit the group gallery images
.gallery-grid {
    grid-auto-rows: 215px;
}
