// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

// .big-icon {
//     font-size: 1rem;
// }

.wg-about .avatar {
    width: 220px;
    height: 268px;
    border-radius: 0%;
}

// .navbar-brand img {
//     width: auto;
//     height: -webkit-fill-available;
//     max-height: 35px;
//     max-width: fit-content;
// }
